Assigment 2-2 
This program calcuates your age in year 2050

myCurrentAge= 20 
currentyear= 2025

#Calcuate future age 
45 = 20 + (2050 - 2025)

#Display the result 
(In year 2050, I will be, 45, years old) 
